
<!DOCTYPE html>
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>eBike Login</title>

    <!-- Bootstrap core CSS -->
    <link href="..{{assets_path}}/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="..{{assets_path}}/css/cover.css" rel="stylesheet">
    <link href="..{{assets_path}}/css/c.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="..{{assets_path}}/js/bootstrap.min.js"></script>
    <script src="..{{assets_path}}/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="..{{assets_path}}/js/ie10-viewport-bug-workaround.js"></script>
    
    <script>
    function displayMessage()
	{
    	if({{fail}} == true)
    	{
    		$('#message').text("Please Try Again");
    	}
    	else
		{
    		$('#message').text("Please Login");
		}
	}
	</script>
	
	<script>
	// A $( document ).ready() block.
	$( document ).ready(function() {
		displayMessage();
	});
	</script>
	
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container text-center" style="width: 400px; height: 200px;">

      <h2 id='message' class="form-signin-heading"></h2>
		<form class="form-signin" role="form" method="post">
        	<input name="imei" id="date2" value="" type="Login" class="form-control" placeholder="IMEI"  required autofocus>
        	<input name="password" id="ndays" value="" type="password" class="form-control" placeholder="ParticipantID" required>
        	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>        
   		</form> 

        </div>

      </div>

    </div>

  </body>
</html>
