<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="../~sensordc/bootstrap/css/bootstrap.min.css" rel="stylesheet" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../~sensordc/bootstrap/css/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../~sensordc/bootstrap/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../~sensordc/bootstrap/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../~sensordc/bootstrap/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Date Range picker-->
    <link href="../~sensordc/bootstrap/css/daterangepicker-bs3.css" rel="stylesheet">

    <!-- Datatables -->
    <link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/jqueryui/dataTables.jqueryui.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="wrapper">

        {% include 'dashboard/sidebar.html' %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard <small>for {{name}}</small></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                {% include 'dashboard/header_metrics.html' %}
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">

                    {% include 'dashboard/filters.html' %}

                    {% include 'dashboard/charts.html' %}

                    {% include 'dashboard/tables.html' %}

                </div>
                <!-- /.col-lg-8 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../~sensordc/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../~sensordc/bootstrap/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../~sensordc/bootstrap/js/sb-admin-2.js"></script>

    <!-- Moment JavaScript -->
    <script src="../~sensordc/bootstrap/js/moment.min.js"></script>

    <!-- Date Picker JavaScript -->
    <script src="../~sensordc/bootstrap/js/daterangepicker.js"></script>

    <!-- highcharts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!-- datatables -->
    <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

    <script src="../~sensordc/bootstrap/js/charts.js"></script>

    <script type = "text/javascript">
        $(document).ready(function() {
            $('#daterange').daterangepicker({ 
                format: 'YYYY-MM-DD',
                startDate: moment().startOf('month'), 
                endDate: moment().endOf('month') 
            });

            var picker = $('#daterange').data('daterangepicker');
            
            picker.setStartDate(moment().startOf('month'));
            picker.setEndDate(moment().endOf('month'));

            loadChart(picker, {{i}});

            $('#daterange').on('apply.daterangepicker', function(ev, picker) {
                loadChart(picker, {{i}});
            });

            // Table
            $('#datatable').DataTable({
                "bJQueryUI": true
            });

        });
    </script>

</body>

</html>