{% set assets_repo = "/~sensordc/bootstrap" %}
{# set assets_repo = "/static" #}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{assets_repo}}/css/bootstrap.min.css" rel="stylesheet" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{assets_repo}}/css/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{{assets_repo}}/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{assets_repo}}/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{assets_repo}}/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Date Range picker-->
    <link href="{{assets_repo}}/css/daterangepicker-bs3.css" rel="stylesheet">

    <!-- Datatables -->
    <link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/jqueryui/dataTables.jqueryui.css" rel="stylesheet">

    <!-- Spinner -->
    <link rel="stylesheet" href="http://css-spinners.com/css/spinner/dots.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="wrapper">

        {% include 'dashboard/sidebar.html' %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard <small>for {{name}}</small></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                {% include 'dashboard/header_metrics.html' %}
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">

                    {% include 'dashboard/filters.html' %}

                    {% include 'dashboard/charts.html' %}

                    {% include 'dashboard/tables.html' %}

                </div>
                <!-- /.col-lg-8 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{assets_repo}}/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{assets_repo}}/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{assets_repo}}/js/sb-admin-2.js"></script>

    <!-- Moment JavaScript -->
    <script src="{{assets_repo}}/js/moment.min.js"></script>

    <!-- Date Picker JavaScript -->
    <script src="{{assets_repo}}/js/daterangepicker.js"></script>

    <!-- highcharts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!-- Google Maps -->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- datatables -->
    <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

    <script src="{{assets_repo}}/js/charts.js"></script>

    <script type = "text/javascript">
        $(document).ready(function() {

            // Date Ranger Picker

            $('#daterange').daterangepicker({ 
                format: 'YYYY-MM-DD',
                startDate: moment().startOf('month'), 
                endDate: moment().endOf('month') 
            });

            var picker = $('#daterange').data('daterangepicker');
            
            picker.setStartDate(moment().startOf('month'));
            picker.setEndDate(moment().endOf('month'));

            loadChart(picker, {{i}});
            

            $('#daterange').on('apply.daterangepicker', function(ev, picker) {
                loadChart(picker, {{i}});
            });


            // Single Date Picker

            $('#singleDateRange').daterangepicker({ 
                format: 'YYYY-MM-DD',
                singleDatePicker: true,
                showDropdowns: true
            });

            var singlePicker = $('#singleDateRange').data('daterangepicker');

            // Table
            var datatable = $('#datatable').DataTable({
              "bJQueryUI": true,
              "bFilter"  : false
            });

            $('#singleDateRange').on('apply.daterangepicker', function(ev, picker) {
                $('.dots-loader').css("display", "block");
                $('#trips-container').hide();
                mapTrips(datatable, singlePicker, {{i}});
                 
            });

            // Metrics selection at top
            $('.distance-heading').click(function() {
                $('#container').show();
                $('#trips-container').hide();
                $('#daterange').show();
                $('#singleDateRange').hide();
                $('.dots-loader').hide();
            });

            $('.trip-heading').click(function() {
                $('#container').hide();
                $('#daterange').hide();
                $('#singleDateRange').show();

                if (!$('#trips-container').has('.gm-style').length) {
                    $('.dots-loader').css("display", "block");
                    mapTrips(datatable, singlePicker, {{i}});
                } else {
                    $('#trips-container').show();
                }
            });

            

        });
    </script>

</body>

</html>