<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Charts
        <div class="pull-right">
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body" style="height: 425px">
        <div class="dots-loader" style="display:none; margin: 200px auto 0;">
            Loading…
        </div>
        <div id="container" style="width:100%; height:400px;"></div>
        <div id="trips-container" style="width:100%; height:400px; display:none;"></div>
        <div id="soc-container" style="width:100%; height:400px; display:none;"></div>
    </div>
    <!-- /.panel-body -->
</div>