<!-- Filters -->
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-filter fa-fw"></i> Filters
        <div class="pull-right">

        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <!-- Filter Content -->
        <div class="input-group">
          <input type="text" class="form-control"  id="daterange" placeholder="Date range" aria-describedby="basic-addon1" >
        </div>
    </div>
    <!-- /.panel-body -->
</div>