<div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading distance-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-bar-chart fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge" id="distance">2 km</div>
                    <div>Distance per day</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
        <div class="panel-heading trip-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-bicycle fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">12 mins</div>
                    <div>Ride Time per day</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
        <div class="panel-heading voltage-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-area-chart fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">124</div>
                    <div>Voltage per day</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
        <div class="panel-heading soc-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-support fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">13</div>
                    <div>SOC Estimation per day</div>
                </div>
            </div>
        </div>
    </div>
</div>